{% extends 'diary/base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'detail' post.id %}">Detail</a></li>
            <li class="breadcrumb-item active" aria-current="{% url 'edit' post.id %}">Edit</li>

        </ol>
    </nav>
        
        <h1>글 수정 페이지</h1>
        <form method="POST" >
            {% csrf_token%}
            {{form.as_p}}
            <button type="submit">수정</button>
        </form>
{% endblock %}